
models
__pycache__/

utils/__pycache__/
utils/dataset_parameters
utils/generate_intermediate_values.py
utils/save_dataset_parameters.py




utils/save_dataset_parameters.py
mult_mapping.npy
mapping_t1from_t1xSboxt1.npy
mapping_Sboxt1from_t1xSboxt1.npy
xor_mapping.npy
extraction_points_beta.npy
correlations_t016^rin.npy
correlations_t015^rin.npy
correlations_t014^rin.npy
correlations_t013^rin.npy
correlations_t012^rin.npy
correlations_t011^rin.npy
correlations_t011^mj.npy
correlations_t010^rin.npy
correlations_t010^mj.npy
correlations_t009^rin.npy
correlations_t009^mj.npy
correlations_t008^rin.npy
correlations_t008^mj.npy
correlations_t007^rin.npy
correlations_t007^mj.npy
correlations_t006^rin.npy
correlations_t006^mj.npy
correlations_t005^rin.npy
correlations_t005^mj.npy
correlations_t004^rin.npy
correlations_t004^mj.npy
correlations_t003^rin.npy
correlations_t003^mj.npy
correlations_t002^rin.npy
correlations_t002^mj.npy
correlations_t001^rin.npy
correlations_t001^mj.npy
correlations_s016^beta.npy
correlations_s015^beta.npy
correlations_s014^beta.npy
correlations_s013^beta.npy
correlations_s012^beta.npy
correlations_s010^beta.npy
correlations_s011^beta.npy
correlations_s009^beta.npy
correlations_s008^beta.npy
correlations_s007^beta.npy
correlations_s006^beta.npy
correlations_s005^beta.npy
correlations_s004^beta.npy
correlations_s003^mj.npy
correlations_s003^beta.npy
correlations_s002^mj.npy
correlations_s002^beta.npy
correlations_s001^mj.npy
correlations_s001^beta.npy
correlations_beta.npy
correlations_rin.npy
correlations_p016.npy
correlations_p015.npy
correlations_p014.npy
correlations_p013.npy
correlations_p012.npy
correlations_p011.npy
correlations_p010.npy
correlations_p009.npy
correlations_p008.npy
correlations_p007.npy
correlations_p006.npy
correlations_p005.npy
correlations_p004.npy
correlations_p003.npy
correlations_p002.npy
correlations_p001.npy
correlations_alpha.npy
utils/argmax_hw_mapping.npy
affine_layer_mapping.npy
MA_traces.npy
extract_alpha.npy
extract_alpha.npy
